* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: rgb(22, 22, 23);
    color: white;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    width: 100%;
}
header input {
    width: 100%;
    max-width: 500px;
    height: 40px;
    border-radius: 8px;
    padding: 0px 10px;
}
header input:focus {
    outline: none;
}
.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
header button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: rgb(228, 140, 8);
    font-weight: 600;
    color: white;
    cursor: pointer;
}